@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap');

@layer base {
  body {
    @apply overflow-x-hidden text-primary font-secondary bg-black;
  }
  .h1 {
    @apply text-[54px] lg:text-[108px] font-primary font-bold capitalize leading-[120%] tracking-[-0.05em] mb-2 text-white;
  }
  .section {
    @apply h-screen w-screen;
  }
  .btn {
    @apply py-[18px] px-[50px] h-[66px] flex items-center justify-center text-base uppercase font-secondary font-semibold bg-dusty text-white mt-2;
  }
}

.masonry-column {
  background-clip: padding-box;
}

.eventName {
  font-family: 'Tangerine', cursive;
  font-size: 48px; /* Adjust size as needed */
  font-weight: 700;
}
